body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    font-family: sans-serif;
    background-color: var(--main-color);
}
:root {
    --elements-color: white;
    --main-color: black;
}
.container{
    width: 500px;
    height: 500px;
    border: solid var(--main-color);
    border-radius: 20px;
    background-color:  var(--elements-color);
    box-shadow: 2px 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
}
.cell{
    border: solid var(--elements-color);
    height: auto;
    width: 130px;
    height: 130px;
    color: var(--elements-color);
    background-color:  var(--main-color);
    font-size: 60px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px;
}

.cell:hover{
    opacity: 70%;
}

button{
    font-size: 20px;
    padding: 10px;
    border-radius: 20px;
    background-color: var(--elements-color);
    color: brown;
    font-weight: bold;
    border: solid brown;
    box-shadow: 0 2px 2px; 
}

.display-results{
    border: solid black;
    width: 400px;
    height: 60px;
    font-size: 50px;
    color: brown;
    text-align: center;
    border-radius: 20px;
    background-color: var(--elements-color);
    display: none;
}

.show{
    display: block;
}


.start{
    border: solid black;
    width: 300px;
}

form{
    padding: 30px;
    background-color: var(--elements-color);
}
input{
    padding: 5px;
     margin: 5px;
}
h2{
    text-align: center;
    border-bottom: solid black;
    color: var(--elements-color);
}
label {
    color: brown;
}
form button{
    margin-left: 80px;
    margin-top: 20px;
}
.hidden{
    display: none;
}
.turns{
    color: var(--elements-color);
    font-size: 30px;
}

.scores{
    color: var(--elements-color);
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}